.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 60px;
  background-color:rgb(53, 51, 51);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  border-radius: 10px;
}


.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white; 
  margin: 0;
}

.icons {
  display: flex;
  align-items: center;
  gap: 24px;
}


.icons i {
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease, transform 0.2s ease;
}
